.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    width: 350px;
    background-color: gainsboro;
    font-family: 'Roboto';
    font-size: 14px
}

.form div input {
    margin-left: 10px;
    border: 1px solid orange;
    padding: 10px;
    /* float: right; */
}

.form div label {
    display: inline-block;
    margin: 10px;
}


.form button { 
    margin: 10px;
    float: left;
    width: 80px;
}
